<h1><%= data.title %></h1>
<article class="article"><%= data.body %></article>
<li class="admin-post">
    <div class="admin-post-controls">
      <a href="/admin/edit-post/<%= data._id %>" class="btn">Edit</a>

      <form action="/admin/delete-post/<%= data._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" class="btn-delete btn">
      </form>

    </div>
</li>

<!-- add comment -->
<h2>Add a Comment</h2>
<form action="/admin/post/<%= data._id %>/comment" method="POST">
  <textarea name="comment" rows="4" required></textarea>
  <br>
  <button type="submit">Submit Comment</button>
</form>

<!-- show comment -->
<h2>Comments</h2>
<ul>
  <% comments.forEach(comment => { %>
    <li>
      <p><strong><%= comment.user.email %>:</strong> <%= comment.content %></p>
      <small>Posted on <%= comment.createdAt.toLocaleDateString() %></small>
    </li>
  <% }); %>
</ul>

<hr>