<a class="none-underline" href="/admin/dashboard">&larr; Back</a>
<h1><%= data.title %></h1>
<article class="article"><%= data.body %></article>
<li class="admin-post">
    <div class="admin-post-controls">
      <a href="/admin/edit-post/<%= data._id %>" class="btn">Edit</a>

      <form action="/admin/delete-post/<%= data._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" class="btn-delete btn">
      </form>

    </div>
</li>

<!-- add comment -->
<h2>Add a Comment</h2>
<form action="/admin/post/<%= data._id %>/comment" method="POST">
  <textarea name="text" rows="1" required></textarea>
  <br>
  <input type="submit" value="Add a comment" class="btn">
</form>
<hr>

<!-- show comment -->
<h2>Comments</h2>
<ul>
  <% comments.forEach(comment => { %>
    <!-- <li> -->
      <article class="article"><%= comment.text %></article>
    <!-- </li> -->
    <hr>
  <% }); %>
</ul>

<!-- show comment 2 -->