<a class="none-underline" href="/admin/dashboard">&larr; Back</a>
<div class="admin-title">
  <h2>Users</h2>
</div>

<ul class="admin-posts">

  <% i = 0 %>
  <% users.forEach(user => { %>
    <li>
      <a class="none-underline" href="/admin/user/<%= user._id %>">
        <h4>User <%= i+1 %>:</h4>
        <p><b>username:</b> <%= user.username %></p>  
        <h4>password is hashed</h4>
        <%= user.password %> 
        <%= i+=1 %>
        <p><b>email:</b> <%= user.email %> </p> 
      </a>
      <div class="admin-post-controls">
        <a href="/admin/edit-user/<%= user._id %>" class="btn">Edit</a>

        <form action="/admin/delete-users/<%= user._id %>?_method=DELETE" method="POST">
          <input type="submit" value="Delete" class="btn-delete btn">
        </form>

      </div>

    </li>

  <% }) %>
</ul>