<div class="admin-title">
    <h2>User</h2>
    <!-- <a href="/add-post" class="button">+ Add New User</a> -->
  </div>
  
  <ul class="admin-posts">
  
    <% data.forEach(user => { %>
     
      <li>
        <a href="/user/<%= user._id %>">
          <%= user.username %> &nearr;
          <%= user.password %> &nearr;
        </a>
        <!-- <div class="admin-post-controls">
          <a href="/edit-post/<%= user._id %>" class="btn">Edit</a>
  
          <form action="/delete-post/<%= user._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete" class="btn-delete btn">
          </form>
  
        </div> -->
  
      </li>
  
    <% }) %>
  </ul>